<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  

    <title>Make - PiStream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <main class="p-40 bg-base-100" x-data="{
      socket: null, 
      init() {
        this.socket = io();
        this.socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
      }
     }">
        <div class="flex flex-row gap-4">
          <div class="flex flex-col justify-center">
            <div class="flex flex-col gap-4">
              <div class="border-lg rounded-full bg-primary shadow-lg flex flex-col justify-center p-8 h-16" >
                <i class="fa fa-angle-up font-bold text-xxl text-primary-content"></i>
              </div>
              <div class="border-lg rounded-full bg-primary shadow-lg flex flex-col justify-center p-8 h-16" @mouseup="this.socket.emit('left-keyup')" @mousedown="this.socket.emit('left-keydown')">
                <i class="fa fa-angle-left font-bold text-xxl text-primary-content"></i>
              </div>
            </div>
          </div>
          <div class="main" id="newpost">
            <!-- <img  class="camera-bg" style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">       -->
            <img  class="camera-bg" style="width: 100%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">      
          </div>
          <div class="flex flex-col justify-center">
            <div class="flex flex-col gap-4">
              <div class="border-lg rounded-full bg-primary shadow-lg flex flex-col justify-center p-8 h-16" @mouseup="this.socket.emit('forward-keyup')" @mousedown="this.socket.emit('forward-keydown')">
                <i class="fa fa-angle-up font-bold text-xxl text-primary-content"></i>
              </div>
              <div class="border-lg rounded-full bg-primary shadow-lg flex flex-col justify-center p-8 h-16" @mouseup="this.socket.emit('right-keyup')" @mousedown="this.socket.emit('right-keydown')">
                <i class="fa fa-angle-right font-bold text-xxl text-primary-content"></i>
              </div>
            </div>
          </div>
        </div>
    </main>


    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

  </body>
</html>
